
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>


<form action="/Home/Create" method="post">
    FirstName: <input type="text" name="FirstName"/>
    LastName: <input type="text" name="LastName"/>
    BirthDay: <input type="date" name="BirthDay"/>

    <input type="submit" value="提交" />
</form>