@model IEnumerable<StudyNetCore.ViewModels.HomeIndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>我的第一个.Net Core Web项目</h1>

<h1>Student的ViewModel数据展示</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name - @item.Age</li>
    }
</ul>

<a href="/Home/data" title="点我">点我</a>

<a ></a>