@model Movie

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title" type="text">
    <input asp-for="ReleaseDate" type="datetime">
    <input asp-for="Genre" type="text">
    <input asp-for="Price" type="number">
    <button type="submit">Add</button>
</form>