
@{
    ViewData["Title"] = "AboutVae";
}

<h1>AboutVae</h1>

<p>许嵩（Vae），1986年5月14日生于安徽省合肥市，中国内地流行乐男歌手、词曲创作人、音乐制作人，现任海蝶音乐公司（现为太合音乐集团）音乐总监，毕业于安徽医科大学。2006年起许嵩开始发表音乐作品，至2019年已成功发行七张个人原创专辑以及近四十首原创单曲，所有歌曲由许嵩创作词曲及音乐制作。</p>