@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1 class="display-4">欢迎,这是主页面我还没想好放啥</h1>

    <ul>
        @for (int i = 0; i < ViewBag.Number; i++)
        {
            <li>@ViewBag.Text</li>
        }
    </ul>
</div>
